*{
    padding: 0;
    margin: 0;
}
html {
	font-size: 20px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: sans-serif;
}
/* @media only screen and (min-width: 320px){
    html {
        font-size: 18px !important;
    }
} */
@media only screen and (min-width: 360px){
    html {
        font-size: 20px !important;
    }
}
@media only screen and (min-width: 400px) {
	html {
		font-size: 21.33333333px !important;
	}
}

@media only screen and (min-width: 414px) {
	html {
		font-size: 22.08px !important;
	}
}

@media only screen and (min-width: 480px) {
	html {
		font-size: 25.6px !important;
	}
}
a {
    text-decoration: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
.clearfix::after,
.clearfix::before {
    content: '';
    display: block;
    clear: both;
}
.container{
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding: 0 1rem;
}
.msg_item{
    padding: 0.95rem 0;
    border-bottom: 1px solid #eee;
    display: flex;
}
.left{
    flex: 0 0 17%;
}
.left img{
    width:2.25rem;
    height:2.25rem;
    border-radius:50%;
}
.right{
    flex: 0 0 83%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info_top{
    display: flex;
    justify-content: space-between;
}
.name{
    font-size: 0.85rem;
    color: #333;
}
.time{
    font-size: 0.55rem;
    color: #ccc;
}
.info_bottom{
    display: flex;
    justify-content: space-between;
}
.msg_content{
    width: 11rem;
    font-size: 0.7rem;
    color: #999;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.msg_num{
    width: 1rem;
    height: 0.65rem;
    background: #D13030;
    color: #fff;
    font-size: 0.45rem;
    border-radius: 7.5rem;
    line-height: 0.65rem;
    text-align: center;
    transform: translateY(0.1rem)
}